<ion-header>
    <header [titulo]="language.a" ></header>
  </ion-header>

<ion-content>
  <ion-list no-padding no-margin *ngIf="source && source.length">
    <ion-item no-padding no-margin padding-horizontal *ngFor="let item of source"
      (click)="selectMuscle(item)">
      <ion-thumbnail item-start>
        <img [src]="'./../../assets/imgs/musculos/' + item.image + '.png'">
      </ion-thumbnail>
      <h2>{{item.muscle}}</h2>
      <p>{{item.description}}</p>
      <ion-icon item-end name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item text-center justify-content-center align-items-center *ngIf="source.length == 0">
      <ion-label color="primary">{{language.n}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>