<ion-slides 
*ngIf="source && source.length" 
slidesPerView="3" 
pager="false" 
spaceBetween="10" >
  <ion-slide *ngFor="let item of source" (click)="getItem(item)">
    <ion-list>
      <ion-item class="image" >
        <img [src]="item.image">
      </ion-item>
      <ion-item text-center>
        <h2>{{item.exercise}}</h2>
      </ion-item>
    </ion-list>
  </ion-slide>
</ion-slides>