<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Meus Treinos" tabIcon="notifications"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Agenda" tabIcon="calendar"></ion-tab>
</ion-tabs>