<ion-header>
  <header [titulo]="language.a" ></header>
</ion-header>

<ion-content padding-horizontal padding-top>
  <ion-card *ngFor="let item of source">
    <img [src]="'../../assets/imgs/objetivos/'+ item.goal + '.png'" (click)="select(item.key)" />
  </ion-card>
</ion-content>