page-add-exercise {
    ion-card img {
        max-width: 200px;
        max-height: 200px;
    }

    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }

    ion-col{
        color: color($colors, primary);
    }

    ion-input{
        border: solid 1px;
    }
}
