<ion-header>
  <header [titulo]="language.a"></header>
</ion-header>

<ion-content>
  <ion-card>
    <div class="image">
      <img [src]="item.image" />
    </div>
    <ion-card-content>
      <ion-card-title color="secondary">
        {{item.exercise}}
      </ion-card-title>
      <form [formGroup]="myForm" (submit)="addSerie()">
        <ion-grid no-padding>
          <ion-row justify-content-center align-items-center>
            <ion-col col-2 text-center>
              <ion-label color="secondary">{{language.b}}</ion-label>
            </ion-col>
            <ion-col col-3 text-center>
              <ion-label color="secondary">{{language.c}}</ion-label>
            </ion-col>
            <ion-col col-3 text-center offset-1>
              <ion-label color="secondary">{{language.d}}</ion-label>
            </ion-col>
            <ion-col col-3></ion-col>
          </ion-row>
          <ion-row justify-content-center align-items-center>
            <ion-col col-2>
            </ion-col>
            <ion-col col-3 text-center align-items-center>
              <ion-input type="number" formControlName="repetitions" [(ngModel)]="repetitions"></ion-input>
            </ion-col>
            <ion-col col-1 text-center>
              X
            </ion-col>
            <ion-col col-3 text-center>
              <ion-input [(ngModel)]="libra" type="number" formControlName="libra"></ion-input>
            </ion-col>
            <ion-col col-3 text-end>
              <button ion-button icon-only [disabled]="!myForm.valid">
                <ion-icon name="add"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
      <ion-grid no-padding>
        <ion-row *ngFor="let serie of item.series; let i = index" align-items-center justify-content-center 
        (click)="updateExercise(serie)">
          <ion-col col-2 text-center>
            {{i + 1}}°
          </ion-col>
          <ion-col col-3 text-center>
            {{ serie.repetitions }}
          </ion-col>
          <ion-col col-1 text-center>
            X
          </ion-col>
          <ion-col col-3 text-center>
            {{ serie.libra }}
          </ion-col>
          <ion-col col-3 text-end>
            <button ion-button icon-only (click)="deleteExercise(i)">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button block margin-vertical color="primary" [disabled]="item.series.length == 0" (click)="addExercise()">{{language.app.c}}</button>
    <nav-pop-to-root></nav-pop-to-root>
  </ion-toolbar>
</ion-footer>