<ion-header>
  <header [titulo]="language.m"></header>
</ion-header>

<ion-content>
  <form [formGroup]="myForm" padding-horizontal padding-bottom *ngIf="item">
    <ion-item padding-top>
      <ion-label color="secondary" fixed>{{this.language.a}}</ion-label>
      <ion-input [(ngModel)]="item.title" formControlName="title" type="text"></ion-input>
    </ion-item>

    <ion-item padding-top>
      <ion-label color="secondary">{{this.language.b}}</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" [(ngModel)]="item.inicio" formControlName="inicio"></ion-datetime>
    </ion-item>

    <ion-item padding-top>
      <ion-label color="secondary">{{this.language.c}}</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" [(ngModel)]="item.fim" formControlName="fim"></ion-datetime>
    </ion-item>

    <ion-item padding-top>
      <ion-label color="secondary">{{this.language.d}}</ion-label>
      <ion-select [(ngModel)]="item.frequency" multiple="true" formControlName="frequencia" [okText]="this.language.app.a" [cancelText]="this.language.app.b">
        <ion-option value="1">{{this.language.f}}</ion-option>
        <ion-option value="2">{{this.language.g}}</ion-option>
        <ion-option value="3">{{this.language.h}}</ion-option>
        <ion-option value="4">{{this.language.i}}</ion-option>
        <ion-option value="5">{{this.language.j}}</ion-option>
        <ion-option value="6">{{this.language.k}}</ion-option>
        <ion-option value="0">{{this.language.l}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-card no-padding no-margin>
      <ion-card-header no-padding margin-vertical color="secondary">
        <button ion-button block icon-only outline color="secondary" (click)="addExercise()">
          <ion-icon name="add"></ion-icon>{{this.language.e}} </button>
      </ion-card-header>

      <ion-list no-padding no-margin *ngIf="item.exercises && item.exercises.length">
        <ion-item no-padding no-margin *ngFor="let exercise of item.exercises; let i = index" long-press [timeout]="1200" (onLongPress)="deleteExercise(i)"
          (click)="updateExercise(exercise, i)" >
          <ion-thumbnail item-start>
            <img [src]="exercise.image">
          </ion-thumbnail>
          <h2>{{exercise.exercise}}</h2>
          <p>{{exercise.series | serieXrepetitions}}</p>
          <ion-icon item-end name="arrow-forward"></ion-icon>
        </ion-item>
        <ion-item text-center justify-content-center align-items-center *ngIf="item.exercises.length == 0">
          <ion-label color="primary">{{language.n}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
    <button ion-button block (click)="Save()" color="secondary" [disabled]="!myForm.valid">{{this.language.app.c}}</button>
  </form>
</ion-content>