page-add-training {
    ion-item{
        h2 {
            color: color($colors, primary) !important;
        }

        p {
            color: color($colors, ternary) !important;
        }
    }

    form{
        background-color: color($colors, quartenary)
    }
}
