page-home {

    .titulo{
        font-size: 18px;
        font-style: italic;
        font-weight: 1000;
    }

    ion-navbar{

        img{
            width: 150px;
            height: 28px;
            min-width: 100px;
            min-height: 25px;
        }
    }
}
