<ion-header>
  <ion-navbar>
    <ion-title color="primary">
      <img src="./../../assets/imgs/logo.png" />
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="filter()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-label class="titulo" color="secondary">
    {{language.a}}
  </ion-label>
  <catalog (click)="getTraining($event)" [source]="source | muscleFilter : 1"></catalog>
  <ion-label class="titulo" color="secondary">
    {{language.b}}
  </ion-label>
  <catalog (click)="getTraining($event)" [source]="source | muscleFilter : 2"></catalog>
  <ion-label class="titulo" color="secondary">
    {{language.c}}
  </ion-label>
  <catalog (click)="getTraining($event)" [source]="source | muscleFilter : 3"></catalog>
  <ion-label class="titulo" color="secondary">
    {{language.d}}
  </ion-label>
  <catalog (click)="getTraining($event)" [source]="source | muscleFilter : 4"></catalog>
  <ion-label class="titulo" color="secondary">
    {{language.e}}
  </ion-label>
  <catalog (click)="getTraining($event)" [source]="source | muscleFilter : 5"></catalog>
  <ion-label class="titulo" color="secondary">
    {{language.f}}
  </ion-label>
  <catalog (click)="getTraining($event)" [source]="source | muscleFilter : 6"></catalog>
  <ion-label class="titulo" color="secondary">
    {{language.g}}
  </ion-label>
  <catalog (click)="getTraining($event)" [source]="source | muscleFilter : 7"></catalog>
</ion-content>

<ion-footer *ngIf="pageFooterShow">
  <ion-toolbar>
    <!--     <nav-pop-to-root></nav-pop-to-root> -->
  </ion-toolbar>
</ion-footer>