<ion-card  *ngFor="let training of source; let i = index" (click)="updateTrainingEvent(training, i)" long-press [timeout]="1200"
  (onLongPress)="deleteTrainingEvent(i)">
  <ion-card-header>
    <ion-item>
      <h2>{{training.title}}</h2>
    </ion-item>

  </ion-card-header>
  <ion-card-content>
    <ion-item>
      {{training.inicio | date: 'dd/MM/yyyy'}} a {{training.fim | date: 'dd/MM/yyyy'}}
    </ion-item>

    <ion-item>
      {{training.frequency | daysInWeek}}
    </ion-item>

    <ion-slides *ngIf="training.exercises && training.exercises.length" slidesPerView="5" pager="false" loop="false">
      <ion-slide *ngFor="let exercise of training.exercises">
        <ion-list>
          <ion-item class="image">
            <img [src]="exercise.image">
          </ion-item>
          <ion-item text-center>
            <h2>{{exercise.exercise}}</h2>
          </ion-item>
          <ion-item>
            {{exercise.series | serieXrepetitions}}
          </ion-item>
        </ion-list>
      </ion-slide>
    </ion-slides>
  </ion-card-content>
</ion-card>
<ion-card *ngIf="source.length == 0">
  <ion-card-header>
  </ion-card-header>
  <ion-card-content class="empty">
    <h2>{{language.m}}</h2>
  </ion-card-content>
</ion-card>