@import "./../../assets/sass/_base.scss";

card-training {
    ion-card{
        margin-bottom: 16px !important;
    }

    ion-item{
        p {
            color: color($colors, primary);
        }
        h2{
            color: color($colors, secondary) !important;
        }
    }

    ion-slide{
        img{
            //max-width: 100% !important;
            //height: 70px !important;
        }
    }

    .empty{
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

        h2{
            color: color($colors, primary);
        }       
    }
}
