page-training-detail {
    .card-md p {
        color: color($colors, ternary);
    }

    ion-card img {
        max-width: 200px;
        max-height: 200px;
    }

    .image{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }
}
