<ion-header>
  <header [titulo]="item.exercise"></header>
</ion-header>

<ion-content>
  <ion-card>
    <div class="image">
        <img [src]="item.image" />
    </div> 
    <ion-card-content>
      <ion-card-title color="secondary">
        {{item.exercise}}
      </ion-card-title>
      <p>
        {{item.execucao}}
      </p>
      <ion-list no-padding no-margin>
        <ion-item no-padding no-margin *ngFor="let musculo of item.musculosSolicitados">
          * {{ musculo }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer *ngIf="pageFooterShow">
  <ion-toolbar>
      <button ion-button block margin-vertical color="primary" (click)="addExercise()">{{this.language.a}}</button>
      <nav-pop-to-root></nav-pop-to-root>
  </ion-toolbar>
</ion-footer>