page-schedule {
    .title-month{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: color($colors, secondary);
        background-color: color($colors, quartenary);
        margin: 0.5px;

        button{
            color: color($colors, secondary);
            background-color: color($colors, quartenary);
        }
    }

    .calendar, .weekDay {
        .item, button, ion-slide {
            height: 50px;
            justify-content: center;
            align-items: center;
            display: flex;
            color: color($colors, primary);
            background-color: color($colors, quartenary);
            margin: 0.5px;

            &.header{
                color: color($colors, secondary);
            }

            &.active{
                color: white;
                background-color: color($colors, primary);
            }

            &.training{
                background-image: url('./../../assets/icon/dumbell.png') !important;
                background-repeat: no-repeat;
                background-position-x: 90%;
                background-position-y: 90%;
                background-size: 30%;
            }
        }
    }

    .calendar{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background-color: color($colors, quintenary);

        button, ion-slide {
            width: calc((100% / 7) - 1px) !important;
        }
    }

    .weekDay{
        display: flex;
        flex-direction: column;
        background-color: color($colors, quintenary);
    }

    .schedule{
        margin-top: 16px !important;
    }

    .slideInCalendar {
        button {
            -webkit-animation: slideIn 1s;
            animation: slideIn 1s;
            animation-fill-mode: forwards;
        }
    }

    .slideInWeek {
        .item {
            -webkit-animation: weekIn 1s;
            animation: weekIn 1s;
            animation-fill-mode: forwards;
        }
    }

    .slideOutCalendar {
        button {
            -webkit-animation: slideOut 1s;
            animation: slideOut 1s;
            animation-fill-mode: forwards;
        }
    }

    .slideOutWeek {
        .item {
            -webkit-animation: weekOut 1s;
            animation: weekOut 1s;
            animation-fill-mode: forwards;
        }
    }

    .fadeIn{
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
        animation-fill-mode: forwards;
    }

    .fadeOut{
        -webkit-animation: fadeOut 1s;
        animation: fadeOut 1s;
        animation-fill-mode: forwards;
    }

    @-webkit-keyframes slideIn {
        from {height: 0px;padding: 0;font-size: 0;margin: 0;}
        to {height: 50px;padding: 1px;font-size: 18px; margin: 0.5px;}
    }
    
    @keyframes slideIn {
        from {height: 0px;padding: 0; font-size: 0; margin: 0;}
        to {height: 50px;padding: 1px; ;font-size: 18px; margin: 0.5px;}
    }

    @-webkit-keyframes slideOut {
        from {height: 50px;padding: 1px;font-size: 18px;margin: 0.5px;}
        to {height: 0px;padding: 0;font-size: 0;margin: 0;}
    }
    
    @keyframes slideOut {
        from {height: 50px;padding: 1px;font-size: 18px;margin: 0.5px;}
        to {height: 0px;padding: 0; font-size: 0;margin: 0;}
    }

    @keyframes weekIn {
        from {height: 0px; font-size: 0; margin: 0;}
        to {height: 50px; font-size: 18px; margin: 0.5px;}
    }

    @-webkit-keyframes weekIn {
        from {height: 0px;font-size: 0;margin: 0;}
        to {height: 50px;font-size: 18px;margin: 0.5px;}
    }

    @-webkit-keyframes weekOut {
        from {height: 50px;font-size: 18px;margin: 0.5px;}
        to {height: 0px;font-size: 0;margin: 0;}
    }
    
    @keyframes weekOut {
        from {height: 50px;font-size: 18px;margin: 0.5px;}
        to {height: 0px; font-size: 0;margin: 0;}
    }

    @-webkit-keyframes fadeIn {
        from {opacity: 0;}
        to {opacity: 1;}
    }
    
    @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity: 1;}
    }

    @-webkit-keyframes fadeOut {
        from {opacity: 1;}
        to {opacity: 0;}
    }
    
    @keyframes fadeOut {
        from {opacity: 1;}
        to {opacity: 0;}
    }

    ion-slides{
        height: auto !important;
    }

    ion-slides[slidesperview="5"]{
        ion-slide{
            width: calc(100% / 5) !important;

            img{
                width: 100% !important;
                height: 70px;
                margin-bottom: 8px;
            }
        }    
    }

    .hide{
        opacity: 0;
    }
}
