<ion-header>
    <header [titulo]="language.schedulePage.m"></header>
  </ion-header>

<ion-content padding>
  <section padding-vertical class="title-month">
    <button icon-only>
      <ion-icon item-end name="arrow-back"></ion-icon>
    </button>
    <h4 *ngIf="slideInCalendar" no-margin [ngClass]="{'fadeIn': slideInCalendar, 'fadeOut': slideOutCalendar}" (click)="slideInOutCalendar()" >{{title}}</h4>
    <h4 *ngIf="slideInit || slideOutCalendar" no-margin [ngClass]="{'fadeOut': slideInCalendar, 'fadeIn': slideOutCalendar}" (click)="slideInOutCalendar()" >{{titleWeek}}</h4>
    <button icon-only>
        <ion-icon item-end name="arrow-forward"></ion-icon>
      </button>
  </section>
  <section *ngIf="!slideInit" class="calendar" [ngClass]="{'slideInCalendar': slideInCalendar, 'slideOutCalendar': slideOutCalendar}">
    <button class="header">{{language.l}}</button>
    <button class="header">{{language.f}}</button>
    <button class="header">{{language.g}}</button>
    <button class="header">{{language.h}}</button>
    <button class="header">{{language.i}}</button>
    <button class="header">{{language.j}}</button>
    <button class="header">{{language.k}}</button>
    <button *ngFor="let day of month; let index = index" (click)="dayDetail(index)" [ngClass]="{'active': active == index, 'training': day.training }">{{day.date.getDate()}}</button>
  </section>

  <ion-slides (ionSlideDidChange)="headerIndex(headerSlides)" #headerSlides slidesPerView="7" *ngIf="month && month.length"
    [initialSlide]="active">
    <ion-slide class="weekDay" *ngFor="let day of month; let index = index" (click)="dayDetail(index)" [ngClass]="{'slideOutWeek': slideInCalendar, 'slideInWeek': slideOutCalendar}">
      <div class="item header">{{weekDay[day.date.getDay()]}}</div>
      <div class="item" [ngClass]="{'active': active == index, 'training': day.training}">{{day.date.getDate()}}</div>
    </ion-slide>
  </ion-slides>

  <ion-slides (ionSlideDidChange)="scheduleIndex(scheduleSlides)" class="schedule" #scheduleSlides slidesPerView="1" *ngIf="month && month.length"
    [initialSlide]="active">
    <ion-slide *ngFor="let day of month; let index = index" (click)="dayDetail(index)">
      <card-training [source]="day.itens"></card-training>
    </ion-slide>
  </ion-slides>
</ion-content>