<ion-header>
  <header [titulo]="this.language.a"></header>
</ion-header>

<ion-content padding>
  <ion-fab right bottom>
    <button ion-fab (click)="addTraining()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <card-training [source]="myTrainings" (updateTraining)="updateTraining($event)" (deleteTraining)="deleteTraining($event)" ></card-training>
</ion-content>