page-my-trainings {
    ion-slides[slidesperview="5"]{
        ion-slide{
            width: calc(100% / 5) !important;

            img{
                width: 100% !important;
                height: 70px;
                margin-bottom: 8px;
            }
        }    
    }
}
