$sizes: 575px 576px 768px 992px 1200px;

@mixin responsive($styles) {

    @media (max-width: nth($sizes, 1)) {
        @each $property ,$values in $styles {
            #{$property}: nth($values, 1);
        }
    }

    @for $i from 2 through length($sizes) {
        @media (min-width: nth($sizes, $i)) {
            @each $property ,$values in $styles {
                #{$property}: nth($values, $i);
            }
        }
    }
}

%flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}